---
# Defaults
rke2_defaults_version: v1.33.4+rke2r1
rke2_defaults_api_url: "https://api.{{ rke2_cluster_name }}"
rke2_defaults_registry_mirrors:
  - name: "*"
rke2_defaults_server_options:
  - "embedded-registry: true"
rke2_defaults_agent_options: []

rke2_defaults_drain_pod_selectors:
  - "longhorn.io/component!=instance-manager"
  - "app!=csi-attacher"
  - "app!=csi-provisioner"
  - "application!=spilo"

# Overridable values
_rke2_install: "{{ lookup('ansible.builtin.env', 'RKE2_INSTALL', default=true) }}"
_rke2_config_path: /etc/rancher/rke2
_rke2_kubeconfig: "~/.kube/config"
_rke2_bin_path: /var/lib/rancher/rke2/bin
_rke2_api_url: "{{ rke2_api_url | default(rke2_defaults_api_url) }}"
_rke2_api_host: "{{ _rke2_api_url | urlsplit('hostname') }}"
_rke2_limits_nofile: "{{ rke2_limits_nofile | default(1048576) }}"
_rke2_sysctl_inotify_max_user_instances: "{{ rke2_sysctl_max_user_instances | default(524288) }}"
_rke2_sysctl_inotify_max_user_watches: "{{ rke2_sysctl_max_user_watches | default(1048576) }}"
_rke2_sysctl_inotify_max_queued_events: "{{ rke2_sysctl_max_queued_events | default(1048576) }}"
_rke2_retry_delay: "{{ rke2_retry_delay | default(30) }}"
_rke2_retry_num: "{{ rke2_retry_num | default(10) }}"
_rke2_evict_timeout: "{{ rke2_evict_timeout | default(300) }}"
_rke2_drain_pod_selectors: "{{ rke2_drain_pod_selectors | default(rke2_defaults_drain_pod_selectors) }}"
_rke2_config_hostnames: "{{ rke2_config_hostnames | default(True) | bool }}"
_rke2_nolog: "{{ rke2_nolog | default(True) | bool }}"
_rke2_update_skip_pod_checks: "{{ rke2_update_skip_pod_checks | default(False) | bool }}"

# Hardcoded values
rke2_uninstall_script: /usr/local/bin/rke2-uninstall.sh
rke2_cluster_group: "{{ rke2_cluster_hostgroup | default('rke2_cluster') }}"
rke2_server_group: "{{ rke2_server_hostgroup | default('rke2_server') }}"
rke2_agent_group: "{{ rke2_agent_hostgroup | default('rke2_agent') }}"
rke2_ha_mode: true
rke2_ha_mode_keepalived: false
rke2_cloud_provider_name: "external"
rke2_cni:
  - cilium
rke2_additional_sans:
  - "{{ _rke2_api_host }}"
rke2_server_options: "{{ _rke2_server_options }}"
rke2_agent_options: "{{ _rke2_agent_options }}"

# Test specific values
_rke2_skip_deploy: "{{ rke2_skip_deploy | default(false) }}"
