---
- name: Prepare RKE2 cluster nodes
  import_playbook: pokerops.rke2.prepare

- name: Deploy RKE2 cluster
  import_playbook: pokerops.rke2.cluster

- name: Configure RKE2 cluster
  import_playbook: pokerops.rke2.configure

- name: Deploy RKE2 cluster secrets
  import_playbook: pokerops.rke2.secrets

- name: Deploy RKE2 components
  import_playbook: pokerops.rke2.init
